In [1]:
import sys
sys.path.insert(0, '/usr/local/lib/python2.7/site-packages')
import pandas as pd
import numpy as np

In [60]:
training = pd.read_csv("Titanic_train.csv")
testing = pd.read_csv("Titanic_test.csv")
trainingids= training["PassengerId"]
testingids= testing["PassengerId"]
training.drop("PassengerId",1, inplace=True)
indexes= testing["PassengerId"]
testing.drop("PassengerId",1, inplace= True)

In [61]:
training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB

In [62]:
training
# X= training.drop("Survived",1)
# Y= training["Survived"]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
10,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
12,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
15,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
16,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
17,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
21,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
22,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
23,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
24,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
862,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
863,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
865,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
866,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
868,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
870,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
871,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
874,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
876,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
877,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
878,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
881,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
882,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
883,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [63]:
training
training.drop("Name",1, inplace=True)
training.drop("Ticket", 1, inplace=True)
testing.drop("Name",1, inplace=True)
testing.drop("Ticket", 1, inplace=True)

In [64]:
from sklearn import preprocessing
con = preprocessing.LabelEncoder()
training["Sex"]= con.fit_transform(training["Sex"])
testing["Sex"]= con.fit_transform(testing["Sex"])
label = list(training)
# for c in label:
#     print(c, pd.isnull(training[c]).sum())
mean_age= training["Age"].mean()
training["Age"].fillna(mean_age,inplace=True)
training["Embarked"].fillna(training["Embarked"].max(),inplace=True)
training["Cabin"].fillna(-1000)
training["Cabin"]= con.fit_transform(training["Cabin"])
training["Embarked"]= con.fit_transform(training["Embarked"])

mean_age= testing["Age"].mean()
testing["Age"].fillna(mean_age,inplace=True)
testing["Embarked"].fillna(testing["Embarked"].max(),inplace=True)
testing["Fare"].fillna(testing["Fare"].mean(),inplace=True)
testing["Cabin"].fillna(-1000, inplace=True)
testing["Cabin"]= con.fit_transform(testing["Cabin"])
testing["Embarked"]= con.fit_transform(testing["Embarked"])
label= list(testing)
for c in label:
    print(c, pd.isnull(testing[c]).sum())

('Pclass', 0)
('Sex', 0)
('Age', 0)
('SibSp', 0)
('Parch', 0)
('Fare', 0)
('Cabin', 0)
('Embarked', 0)

In [65]:
training.describe()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208,17.629630,1.536476
std,0.486592,0.836071,0.477990,13.002015,1.102743,0.806057,49.693429,38.140335,0.791503
min,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,22.000000,0.000000,0.000000,7.910400,0.000000,1.000000
50%,0.000000,3.000000,1.000000,29.699118,0.000000,0.000000,14.454200,0.000000,2.000000
75%,1.000000,3.000000,1.000000,35.000000,1.000000,0.000000,31.000000,0.000000,2.000000
max,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200,147.000000,2.000000

In [66]:
testing.info()
# training.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
Pclass      418 non-null int64
Sex         418 non-null int64
Age         418 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Fare        418 non-null float64
Cabin       418 non-null int64
Embarked    418 non-null int64
dtypes: float64(2), int64(6)
memory usage: 26.2 KB

In [67]:
from sklearn import cross_validation
X= training.drop("Survived",1)
print(type(X))
Y= training["Survived"]
X= preprocessing.scale(X)
x= preprocessing.scale(testing)
# x= preprocessing.scale(x)
# X_Train, X_Test, Y_Train, Y_Test= cross_validation.train_test_split(X,Y,test_size=0.02)
# print(X_Train.shape, X_Test.shape, Y_Train.shape, Y_Test.shape)
# from sklearn.feature_selection import RFE
# from sklearn.svm import SVR
# estimator = SVR(kernel="linear")
# selector = RFE(estimator, 5, step=1)
# selector = selector.fit(X, Y)

<class 'pandas.core.frame.DataFrame'>

In [68]:
# from sklearn.feature_selection import RFE
# from sklearn.svm import SVR
# model=SVR(kernel="linear")
# selector= RFE(model, 1)
# selector.fit(X_Train, Y_Train)
# print (label)
# selector.ranking_
# print (selector.score(X_Test, Y_Test))

In [69]:
# from sklearn.neighbors import KNeighborsClassifier
# neigh = KNeighborsClassifier(n_neighbors=3)
# neigh.fit(X_Train ,Y_Train)
# neigh.score(X_Test, Y_Test)
#0.77777777777777779

In [70]:
# from sklearn import tree
# clf = tree.DecisionTreeClassifier()
# clf = clf.fit(X_Train,Y_Train)
# clf.score(X_Test, Y_Test)
# 0.72222222222222221

In [71]:
# from sklearn.ensemble import RandomForestClassifier
# clf = RandomForestClassifier(n_estimators=53)
# clf = clf.fit(X_Train, Y_Train)
# clf.score(X_Test,Y_Test)
# 0.77777777777777779

In [75]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X ,Y)
a= neigh.predict(x)
print(indexes)
result= np.zeros((len(indexes),2))

result[:,1]=a
result[:,0]= np.array(indexes)
print(result)
np.savetxt('my_results.csv', result, delimiter=',', header='labels')

0       892
1       893
2       894
3       895
4       896
5       897
6       898
7       899
8       900
9       901
10      902
11      903
12      904
13      905
14      906
15      907
16      908
17      909
18      910
19      911
20      912
21      913
22      914
23      915
24      916
25      917
26      918
27      919
28      920
29      921
       ...
388    1280
389    1281
390    1282
391    1283
392    1284
393    1285
394    1286
395    1287
396    1288
397    1289
398    1290
399    1291
400    1292
401    1293
402    1294
403    1295
404    1296
405    1297
406    1298
407    1299
408    1300
409    1301
410    1302
411    1303
412    1304
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, dtype: int64
[[  8.92000000e+02   0.00000000e+00]
 [  8.93000000e+02   0.00000000e+00]
 [  8.94000000e+02   0.00000000e+00]
 [  8.95000000e+02   0.00000000e+00]
 [  8.96000000e+02   0.00000000e+00]
 [  8.97000000e+02   0.00000000e+00]
 [  8.98000000e+02   1.00000000e+00]
 [  8.99000000e+02   0.00000000e+00]
 [  9.00000000e+02   1.00000000e+00]
 [  9.01000000e+02   0.00000000e+00]
 [  9.02000000e+02   0.00000000e+00]
 [  9.03000000e+02   0.00000000e+00]
 [  9.04000000e+02   1.00000000e+00]
 [  9.05000000e+02   0.00000000e+00]
 [  9.06000000e+02   1.00000000e+00]
 [  9.07000000e+02   1.00000000e+00]
 [  9.08000000e+02   0.00000000e+00]
 [  9.09000000e+02   1.00000000e+00]
 [  9.10000000e+02   0.00000000e+00]
 [  9.11000000e+02   1.00000000e+00]
 [  9.12000000e+02   1.00000000e+00]
 [  9.13000000e+02   1.00000000e+00]
 [  9.14000000e+02   1.00000000e+00]
 [  9.15000000e+02   0.00000000e+00]
 [  9.16000000e+02   1.00000000e+00]
 [  9.17000000e+02   0.00000000e+00]
 [  9.18000000e+02   1.00000000e+00]
 [  9.19000000e+02   1.00000000e+00]
 [  9.20000000e+02   1.00000000e+00]
 [  9.21000000e+02   0.00000000e+00]
 [  9.22000000e+02   0.00000000e+00]
 [  9.23000000e+02   0.00000000e+00]
 [  9.24000000e+02   1.00000000e+00]
 [  9.25000000e+02   0.00000000e+00]
 [  9.26000000e+02   1.00000000e+00]
 [  9.27000000e+02   1.00000000e+00]
 [  9.28000000e+02   0.00000000e+00]
 [  9.29000000e+02   1.00000000e+00]
 [  9.30000000e+02   0.00000000e+00]
 [  9.31000000e+02   1.00000000e+00]
 [  9.32000000e+02   0.00000000e+00]
 [  9.33000000e+02   1.00000000e+00]
 [  9.34000000e+02   0.00000000e+00]
 [  9.35000000e+02   1.00000000e+00]
 [  9.36000000e+02   1.00000000e+00]
 [  9.37000000e+02   0.00000000e+00]
 [  9.38000000e+02   0.00000000e+00]
 [  9.39000000e+02   0.00000000e+00]
 [  9.40000000e+02   1.00000000e+00]
 [  9.41000000e+02   0.00000000e+00]
 [  9.42000000e+02   0.00000000e+00]
 [  9.43000000e+02   0.00000000e+00]
 [  9.44000000e+02   1.00000000e+00]
 [  9.45000000e+02   1.00000000e+00]
 [  9.46000000e+02   0.00000000e+00]
 [  9.47000000e+02   0.00000000e+00]
 [  9.48000000e+02   0.00000000e+00]
 [  9.49000000e+02   0.00000000e+00]
 [  9.50000000e+02   0.00000000e+00]
 [  9.51000000e+02   1.00000000e+00]
 [  9.52000000e+02   0.00000000e+00]
 [  9.53000000e+02   0.00000000e+00]
 [  9.54000000e+02   0.00000000e+00]
 [  9.55000000e+02   1.00000000e+00]
 [  9.56000000e+02   1.00000000e+00]
 [  9.57000000e+02   1.00000000e+00]
 [  9.58000000e+02   1.00000000e+00]
 [  9.59000000e+02   0.00000000e+00]
 [  9.60000000e+02   1.00000000e+00]
 [  9.61000000e+02   1.00000000e+00]
 [  9.62000000e+02   1.00000000e+00]
 [  9.63000000e+02   0.00000000e+00]
 [  9.64000000e+02   0.00000000e+00]
 [  9.65000000e+02   1.00000000e+00]
 [  9.66000000e+02   1.00000000e+00]
 [  9.67000000e+02   0.00000000e+00]
 [  9.68000000e+02   0.00000000e+00]
 [  9.69000000e+02   1.00000000e+00]
 [  9.70000000e+02   0.00000000e+00]
 [  9.71000000e+02   1.00000000e+00]
 [  9.72000000e+02   0.00000000e+00]
 [  9.73000000e+02   0.00000000e+00]
 [  9.74000000e+02   0.00000000e+00]
 [  9.75000000e+02   0.00000000e+00]
 [  9.76000000e+02   0.00000000e+00]
 [  9.77000000e+02   0.00000000e+00]
 [  9.78000000e+02   1.00000000e+00]
 [  9.79000000e+02   1.00000000e+00]
 [  9.80000000e+02   1.00000000e+00]
 [  9.81000000e+02   1.00000000e+00]
 [  9.82000000e+02   0.00000000e+00]
 [  9.83000000e+02   0.00000000e+00]
 [  9.84000000e+02   1.00000000e+00]
 [  9.85000000e+02   0.00000000e+00]
 [  9.86000000e+02   0.00000000e+00]
 [  9.87000000e+02   0.00000000e+00]
 [  9.88000000e+02   1.00000000e+00]
 [  9.89000000e+02   0.00000000e+00]
 [  9.90000000e+02   0.00000000e+00]
 [  9.91000000e+02   0.00000000e+00]
 [  9.92000000e+02   1.00000000e+00]
 [  9.93000000e+02   0.00000000e+00]
 [  9.94000000e+02   0.00000000e+00]
 [  9.95000000e+02   0.00000000e+00]
 [  9.96000000e+02   1.00000000e+00]
 [  9.97000000e+02   0.00000000e+00]
 [  9.98000000e+02   0.00000000e+00]
 [  9.99000000e+02   0.00000000e+00]
 [  1.00000000e+03   0.00000000e+00]
 [  1.00100000e+03   0.00000000e+00]
 [  1.00200000e+03   0.00000000e+00]
 [  1.00300000e+03   1.00000000e+00]
 [  1.00400000e+03   1.00000000e+00]
 [  1.00500000e+03   1.00000000e+00]
 [  1.00600000e+03   1.00000000e+00]
 [  1.00700000e+03   0.00000000e+00]
 [  1.00800000e+03   0.00000000e+00]
 [  1.00900000e+03   1.00000000e+00]
 [  1.01000000e+03   1.00000000e+00]
 [  1.01100000e+03   1.00000000e+00]
 [  1.01200000e+03   1.00000000e+00]
 [  1.01300000e+03   0.00000000e+00]
 [  1.01400000e+03   1.00000000e+00]
 [  1.01500000e+03   1.00000000e+00]
 [  1.01600000e+03   0.00000000e+00]
 [  1.01700000e+03   1.00000000e+00]
 [  1.01800000e+03   0.00000000e+00]
 [  1.01900000e+03   1.00000000e+00]
 [  1.02000000e+03   0.00000000e+00]
 [  1.02100000e+03   0.00000000e+00]
 [  1.02200000e+03   1.00000000e+00]
 [  1.02300000e+03   0.00000000e+00]
 [  1.02400000e+03   0.00000000e+00]
 [  1.02500000e+03   0.00000000e+00]
 [  1.02600000e+03   0.00000000e+00]
 [  1.02700000e+03   0.00000000e+00]
 [  1.02800000e+03   0.00000000e+00]
 [  1.02900000e+03   0.00000000e+00]
 [  1.03000000e+03   1.00000000e+00]
 [  1.03100000e+03   0.00000000e+00]
 [  1.03200000e+03   0.00000000e+00]
 [  1.03300000e+03   1.00000000e+00]
 [  1.03400000e+03   0.00000000e+00]
 [  1.03500000e+03   0.00000000e+00]
 [  1.03600000e+03   1.00000000e+00]
 [  1.03700000e+03   0.00000000e+00]
 [  1.03800000e+03   1.00000000e+00]
 [  1.03900000e+03   0.00000000e+00]
 [  1.04000000e+03   0.00000000e+00]
 [  1.04100000e+03   0.00000000e+00]
 [  1.04200000e+03   1.00000000e+00]
 [  1.04300000e+03   0.00000000e+00]
 [  1.04400000e+03   0.00000000e+00]
 [  1.04500000e+03   0.00000000e+00]
 [  1.04600000e+03   0.00000000e+00]
 [  1.04700000e+03   0.00000000e+00]
 [  1.04800000e+03   1.00000000e+00]
 [  1.04900000e+03   1.00000000e+00]
 [  1.05000000e+03   1.00000000e+00]
 [  1.05100000e+03   1.00000000e+00]
 [  1.05200000e+03   1.00000000e+00]
 [  1.05300000e+03   0.00000000e+00]
 [  1.05400000e+03   1.00000000e+00]
 [  1.05500000e+03   0.00000000e+00]
 [  1.05600000e+03   0.00000000e+00]
 [  1.05700000e+03   0.00000000e+00]
 [  1.05800000e+03   1.00000000e+00]
 [  1.05900000e+03   0.00000000e+00]
 [  1.06000000e+03   1.00000000e+00]
 [  1.06100000e+03   1.00000000e+00]
 [  1.06200000e+03   0.00000000e+00]
 [  1.06300000e+03   0.00000000e+00]
 [  1.06400000e+03   0.00000000e+00]
 [  1.06500000e+03   0.00000000e+00]
 [  1.06600000e+03   0.00000000e+00]
 [  1.06700000e+03   1.00000000e+00]
 [  1.06800000e+03   1.00000000e+00]
 [  1.06900000e+03   1.00000000e+00]
 [  1.07000000e+03   1.00000000e+00]
 [  1.07100000e+03   1.00000000e+00]
 [  1.07200000e+03   0.00000000e+00]
 [  1.07300000e+03   1.00000000e+00]
 [  1.07400000e+03   1.00000000e+00]
 [  1.07500000e+03   0.00000000e+00]
 [  1.07600000e+03   1.00000000e+00]
 [  1.07700000e+03   0.00000000e+00]
 [  1.07800000e+03   1.00000000e+00]
 [  1.07900000e+03   0.00000000e+00]
 [  1.08000000e+03   0.00000000e+00]
 [  1.08100000e+03   0.00000000e+00]
 [  1.08200000e+03   0.00000000e+00]
 [  1.08300000e+03   0.00000000e+00]
 [  1.08400000e+03   1.00000000e+00]
 [  1.08500000e+03   0.00000000e+00]
 [  1.08600000e+03   1.00000000e+00]
 [  1.08700000e+03   0.00000000e+00]
 [  1.08800000e+03   1.00000000e+00]
 [  1.08900000e+03   1.00000000e+00]
 [  1.09000000e+03   0.00000000e+00]
 [  1.09100000e+03   0.00000000e+00]
 [  1.09200000e+03   1.00000000e+00]
 [  1.09300000e+03   1.00000000e+00]
 [  1.09400000e+03   0.00000000e+00]
 [  1.09500000e+03   1.00000000e+00]
 [  1.09600000e+03   0.00000000e+00]
 [  1.09700000e+03   0.00000000e+00]
 [  1.09800000e+03   0.00000000e+00]
 [  1.09900000e+03   0.00000000e+00]
 [  1.10000000e+03   1.00000000e+00]
 [  1.10100000e+03   0.00000000e+00]
 [  1.10200000e+03   0.00000000e+00]
 [  1.10300000e+03   0.00000000e+00]
 [  1.10400000e+03   0.00000000e+00]
 [  1.10500000e+03   1.00000000e+00]
 [  1.10600000e+03   0.00000000e+00]
 [  1.10700000e+03   1.00000000e+00]
 [  1.10800000e+03   1.00000000e+00]
 [  1.10900000e+03   1.00000000e+00]
 [  1.11000000e+03   1.00000000e+00]
 [  1.11100000e+03   0.00000000e+00]
 [  1.11200000e+03   1.00000000e+00]
 [  1.11300000e+03   0.00000000e+00]
 [  1.11400000e+03   1.00000000e+00]
 [  1.11500000e+03   0.00000000e+00]
 [  1.11600000e+03   1.00000000e+00]
 [  1.11700000e+03   1.00000000e+00]
 [  1.11800000e+03   0.00000000e+00]
 [  1.11900000e+03   1.00000000e+00]
 [  1.12000000e+03   0.00000000e+00]
 [  1.12100000e+03   0.00000000e+00]
 [  1.12200000e+03   0.00000000e+00]
 [  1.12300000e+03   1.00000000e+00]
 [  1.12400000e+03   0.00000000e+00]
 [  1.12500000e+03   0.00000000e+00]
 [  1.12600000e+03   1.00000000e+00]
 [  1.12700000e+03   0.00000000e+00]
 [  1.12800000e+03   1.00000000e+00]
 [  1.12900000e+03   1.00000000e+00]
 [  1.13000000e+03   1.00000000e+00]
 [  1.13100000e+03   1.00000000e+00]
 [  1.13200000e+03   1.00000000e+00]
 [  1.13300000e+03   1.00000000e+00]
 [  1.13400000e+03   0.00000000e+00]
 [  1.13500000e+03   0.00000000e+00]
 [  1.13600000e+03   0.00000000e+00]
 [  1.13700000e+03   0.00000000e+00]
 [  1.13800000e+03   1.00000000e+00]
 [  1.13900000e+03   0.00000000e+00]
 [  1.14000000e+03   1.00000000e+00]
 [  1.14100000e+03   0.00000000e+00]
 [  1.14200000e+03   1.00000000e+00]
 [  1.14300000e+03   0.00000000e+00]
 [  1.14400000e+03   1.00000000e+00]
 [  1.14500000e+03   0.00000000e+00]
 [  1.14600000e+03   0.00000000e+00]
 [  1.14700000e+03   0.00000000e+00]
 [  1.14800000e+03   0.00000000e+00]
 [  1.14900000e+03   1.00000000e+00]
 [  1.15000000e+03   1.00000000e+00]
 [  1.15100000e+03   0.00000000e+00]
 [  1.15200000e+03   0.00000000e+00]
 [  1.15300000e+03   0.00000000e+00]
 [  1.15400000e+03   1.00000000e+00]
 [  1.15500000e+03   1.00000000e+00]
 [  1.15600000e+03   0.00000000e+00]
 [  1.15700000e+03   0.00000000e+00]
 [  1.15800000e+03   0.00000000e+00]
 [  1.15900000e+03   0.00000000e+00]
 [  1.16000000e+03   0.00000000e+00]
 [  1.16100000e+03   0.00000000e+00]
 [  1.16200000e+03   1.00000000e+00]
 [  1.16300000e+03   0.00000000e+00]
 [  1.16400000e+03   1.00000000e+00]
 [  1.16500000e+03   1.00000000e+00]
 [  1.16600000e+03   0.00000000e+00]
 [  1.16700000e+03   1.00000000e+00]
 [  1.16800000e+03   0.00000000e+00]
 [  1.16900000e+03   0.00000000e+00]
 [  1.17000000e+03   0.00000000e+00]
 [  1.17100000e+03   0.00000000e+00]
 [  1.17200000e+03   1.00000000e+00]
 [  1.17300000e+03   1.00000000e+00]
 [  1.17400000e+03   1.00000000e+00]
 [  1.17500000e+03   1.00000000e+00]
 [  1.17600000e+03   1.00000000e+00]
 [  1.17700000e+03   0.00000000e+00]
 [  1.17800000e+03   0.00000000e+00]
 [  1.17900000e+03   0.00000000e+00]
 [  1.18000000e+03   0.00000000e+00]
 [  1.18100000e+03   0.00000000e+00]
 [  1.18200000e+03   0.00000000e+00]
 [  1.18300000e+03   1.00000000e+00]
 [  1.18400000e+03   0.00000000e+00]
 [  1.18500000e+03   0.00000000e+00]
 [  1.18600000e+03   0.00000000e+00]
 [  1.18700000e+03   0.00000000e+00]
 [  1.18800000e+03   1.00000000e+00]
 [  1.18900000e+03   0.00000000e+00]
 [  1.19000000e+03   0.00000000e+00]
 [  1.19100000e+03   0.00000000e+00]
 [  1.19200000e+03   1.00000000e+00]
 [  1.19300000e+03   1.00000000e+00]
 [  1.19400000e+03   0.00000000e+00]
 [  1.19500000e+03   0.00000000e+00]
 [  1.19600000e+03   1.00000000e+00]
 [  1.19700000e+03   1.00000000e+00]
 [  1.19800000e+03   1.00000000e+00]
 [  1.19900000e+03   1.00000000e+00]
 [  1.20000000e+03   0.00000000e+00]
 [  1.20100000e+03   0.00000000e+00]
 [  1.20200000e+03   0.00000000e+00]
 [  1.20300000e+03   1.00000000e+00]
 [  1.20400000e+03   0.00000000e+00]
 [  1.20500000e+03   0.00000000e+00]
 [  1.20600000e+03   1.00000000e+00]
 [  1.20700000e+03   1.00000000e+00]
 [  1.20800000e+03   1.00000000e+00]
 [  1.20900000e+03   0.00000000e+00]
 [  1.21000000e+03   0.00000000e+00]
 [  1.21100000e+03   0.00000000e+00]
 [  1.21200000e+03   0.00000000e+00]
 [  1.21300000e+03   0.00000000e+00]
 [  1.21400000e+03   0.00000000e+00]
 [  1.21500000e+03   1.00000000e+00]
 [  1.21600000e+03   1.00000000e+00]
 [  1.21700000e+03   0.00000000e+00]
 [  1.21800000e+03   1.00000000e+00]
 [  1.21900000e+03   0.00000000e+00]
 [  1.22000000e+03   0.00000000e+00]
 [  1.22100000e+03   0.00000000e+00]
 [  1.22200000e+03   1.00000000e+00]
 [  1.22300000e+03   1.00000000e+00]
 [  1.22400000e+03   0.00000000e+00]
 [  1.22500000e+03   0.00000000e+00]
 [  1.22600000e+03   0.00000000e+00]
 [  1.22700000e+03   0.00000000e+00]
 [  1.22800000e+03   0.00000000e+00]
 [  1.22900000e+03   1.00000000e+00]
 [  1.23000000e+03   0.00000000e+00]
 [  1.23100000e+03   0.00000000e+00]
 [  1.23200000e+03   0.00000000e+00]
 [  1.23300000e+03   1.00000000e+00]
 [  1.23400000e+03   0.00000000e+00]
 [  1.23500000e+03   1.00000000e+00]
 [  1.23600000e+03   0.00000000e+00]
 [  1.23700000e+03   0.00000000e+00]
 [  1.23800000e+03   0.00000000e+00]
 [  1.23900000e+03   1.00000000e+00]
 [  1.24000000e+03   0.00000000e+00]
 [  1.24100000e+03   1.00000000e+00]
 [  1.24200000e+03   1.00000000e+00]
 [  1.24300000e+03   0.00000000e+00]
 [  1.24400000e+03   0.00000000e+00]
 [  1.24500000e+03   0.00000000e+00]
 [  1.24600000e+03   1.00000000e+00]
 [  1.24700000e+03   0.00000000e+00]
 [  1.24800000e+03   1.00000000e+00]
 [  1.24900000e+03   0.00000000e+00]
 [  1.25000000e+03   0.00000000e+00]
 [  1.25100000e+03   1.00000000e+00]
 [  1.25200000e+03   0.00000000e+00]
 [  1.25300000e+03   1.00000000e+00]
 [  1.25400000e+03   1.00000000e+00]
 [  1.25500000e+03   0.00000000e+00]
 [  1.25600000e+03   1.00000000e+00]
 [  1.25700000e+03   0.00000000e+00]
 [  1.25800000e+03   0.00000000e+00]
 [  1.25900000e+03   0.00000000e+00]
 [  1.26000000e+03   1.00000000e+00]
 [  1.26100000e+03   0.00000000e+00]
 [  1.26200000e+03   0.00000000e+00]
 [  1.26300000e+03   1.00000000e+00]
 [  1.26400000e+03   0.00000000e+00]
 [  1.26500000e+03   0.00000000e+00]
 [  1.26600000e+03   1.00000000e+00]
 [  1.26700000e+03   1.00000000e+00]
 [  1.26800000e+03   0.00000000e+00]
 [  1.26900000e+03   0.00000000e+00]
 [  1.27000000e+03   0.00000000e+00]
 [  1.27100000e+03   0.00000000e+00]
 [  1.27200000e+03   0.00000000e+00]
 [  1.27300000e+03   0.00000000e+00]
 [  1.27400000e+03   0.00000000e+00]
 [  1.27500000e+03   0.00000000e+00]
 [  1.27600000e+03   0.00000000e+00]
 [  1.27700000e+03   1.00000000e+00]
 [  1.27800000e+03   0.00000000e+00]
 [  1.27900000e+03   0.00000000e+00]
 [  1.28000000e+03   0.00000000e+00]
 [  1.28100000e+03   0.00000000e+00]
 [  1.28200000e+03   0.00000000e+00]
 [  1.28300000e+03   1.00000000e+00]
 [  1.28400000e+03   1.00000000e+00]
 [  1.28500000e+03   0.00000000e+00]
 [  1.28600000e+03   0.00000000e+00]
 [  1.28700000e+03   1.00000000e+00]
 [  1.28800000e+03   0.00000000e+00]
 [  1.28900000e+03   1.00000000e+00]
 [  1.29000000e+03   0.00000000e+00]
 [  1.29100000e+03   0.00000000e+00]
 [  1.29200000e+03   1.00000000e+00]
 [  1.29300000e+03   0.00000000e+00]
 [  1.29400000e+03   1.00000000e+00]
 [  1.29500000e+03   1.00000000e+00]
 [  1.29600000e+03   1.00000000e+00]
 [  1.29700000e+03   0.00000000e+00]
 [  1.29800000e+03   0.00000000e+00]
 [  1.29900000e+03   0.00000000e+00]
 [  1.30000000e+03   1.00000000e+00]
 [  1.30100000e+03   1.00000000e+00]
 [  1.30200000e+03   1.00000000e+00]
 [  1.30300000e+03   1.00000000e+00]
 [  1.30400000e+03   1.00000000e+00]
 [  1.30500000e+03   0.00000000e+00]
 [  1.30600000e+03   1.00000000e+00]
 [  1.30700000e+03   0.00000000e+00]
 [  1.30800000e+03   0.00000000e+00]
 [  1.30900000e+03   1.00000000e+00]]